/*nav.navbar.navbar-expand-lg.navbar-light.bg-light{
	background-color: #FFF; 

}*/

body{
	background: #f0fcf9;
}

img{
	border-radius: 35px;
}

li.nav-item.cart {
	float: right;
}

.media{
	background-color: #fff;
	margin-top: 20px;
	padding: 5% 2.5%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
	border-radius: 1%;
}
#scrollTopBtn{
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	background-color: salmon;
	color: #fff; 
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	width: 56px;
	height: 56px;
	border-radius: 15%;
	border: none;
}