

/*------- desktop view -----*/
nav{
	font-family: 'Dancing Script', serif;
	font-size: 20px;
}

nav.bg-light{
	background-color: #FFF !important; 

}

/*body{
	background: #f0fcf9;
}
*/
footer{
	background-color: #fff;
	color: #00a57b;
	height: 2.5%;
	margin:16px 32px;
	padding: 1%;
}


h1{
	color: #fff;
	font-family: 'Dancing Script', cursive;
	font-size: 90px;
	text-shadow:  2px 2px 12px #000;
	position: absolute;
	/*bottom: 50%;
	left:35%;*/
	z-index: 99;
}

h2{
	font-family: 'Libre', sans-serif;
}

h3{
	font-family: 'Libre', sans-serif;
	font-size: 34px;
	padding: 2% 0% .5% 7.5%;
}

img{
	border-radius: 35px;
}


button.btn.btn-primary{
	background-color: #00a57b; 
	border-color: #00a57b;
}

button.btn.btn-secondary{
	background-color: #f5cedd; 
	border-color: pink;
}


form{
	width: 100%;
}

img.centered_img{
	margin: 0 auto;
}



.card.p-2{
	margin: 0px;
}

.card{
	border-radius: 30px;

}

.card-img-top{
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px)
}

.container{
	width:100%;
	margin: 0 auto;
}



.col-lg-6.left{

	width: 45%;
	float: left;
	padding-left: 60px;
}

.col{
	margin: 15px 0px;
	width: 100%;
}

.col-lg-6.right{
	
	/*width: 50%;
	float: right;
	background-color: #fff;
	margin-top: 20px;
	margin-right: 20px;*/
	padding: 5% 2.5%;
	border-radius: 16px;
}

.badge-info{
	background-color: #00a57b; 
	margin: 0px 12px;
}

.badge.badge-secondary.badge-pill{
	background-color: #00a57b;
}

.btn.btn-primary{
	background-color:  #00a57b;
	border:  #00a57b;
}

/*a.btn.btn-primary.add{
	align-items: center;
}*/


.cover-heading{
	text-align: center;
}

.jumbotron{
	animation: colorchange 50s infinite;
	background-color: #d6f4f2;
}

.jumbotron h2{
	font-family: 'Dancing Script', cursive;
	font-size: 72px;
	text-align: center;
}


li.nav-item.cart{
	float: right !important;
}

.main_header{
	display: flex;
	width: 100%;
	justify-content: center;
	vertical-align: middle;
	top: 50%;
}

.nav-item a:hover{
	background-color: pink;
	border-radius: 30px;
	color: #00a57b;
	
}

.navbar-nav{
	padding-left: 30px;
	padding-right: 30px;
}

.navbar-brand{
	padding: 0px 16px;
}

.nav-link{
	font-family: 'Libre', sans-serif;
	/*padding: 0px 3rem;
*/
}

a.nav-link{
	padding-left:  30px !important;
	padding-right: 30px !important;
}

.brand_icon{
	padding-right: 12px;
}

.nav-item a:active{
	background-color: #eee;
	border-radius: 30px;
	color: #f0fcf9;
}

.media{
	background-color: #fff;
	margin-top: 20px;
	padding: 5% 2.5%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
	border-radius: 16px;
}

.row{
	 padding-top: 20PX;
}

#scrollTopBtn{
	animation: colorchange2 50s infinite;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	background-color: #00a57b;
	color: #fff; 
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	width: 56px;
	height: 56px;
	border-radius: 20px;
	border: none;
}

#scrollTopBtn:hover {
  background-color: pink;
  border-radius: 50%;
  color: grey;
}

#cover{
	width: 100vw;
}

    /*------animation -----*/

  


    @keyframes colorchange
    {
      0%   {background: #d6f4f2;}
      50%  {background: pink;}
      100% {background: #00a57b}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
     0%   {background: #d6f4f2;}
      50%  {background: pink;}
      100% {background: #00a57b}
    }

    .btn.btn-primary.add{
      animation: btncolorchange 50s infinite; 
      /* Chrome and Safari */
    }

    @keyframes colorchange2
    {
      0%   {background: #d6f4f2;
      		color: #000;
      }
      50%  {background: pink;
      		color: #000;}
      100% {background: #00a57b;
      		color: #fff;
      }
    }

    
    {
     0%   {background: #d6f4f2;}
      50%  {background: pink;}
      100% {background: #00a57b}
    }


/*------ mobile view ---*/

/*@media (min-width: 576px) { 
	
	 .jumbotron h2{
		
		font-size: 20px;
		
	}

}
*/
