@media (min-width: 376px) { 
	
 .container.contact_us{
	width: 90%;
  }

 }

/*------- desktop view -----*/
nav{
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
}

nav.bg-light{
	background-color: #FFF !important; 

}

/*body{
	background: #f0fcf9;
}
*/
footer{
	background-color: #00a57b;
	color: #FFF;
	height: 2.5%;
	margin-top:16px;
	padding: 1%;


}

h1{
	color: #fff;
	font-family: 'Dancing Script', cursive;
	font-size: 90px;
	text-shadow:  2px 2px 12px #000;
	position: absolute;
	bottom: 50%;
	left:35%;
	z-index: 99;
}

img{
	border-radius: 35px;
}



button.btn.btn-primary{
	background-color: #00a57b; 
	border-color: #00a57b;
}

form{
	width: 100%;
}

img.centered_img{
	margin: 0 auto;
}

.container.left{
	width: 45%;
	float: left;
	padding-left: 60px;
}

.container.contact_us{
	width: 50%;
	float: right;
	background-color: #fff;
	margin-top: 20px;
	margin-right: 20px;
	padding: 5% 2.5%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
	border-radius: 16px;
}

.badge-info{
	background-color: #00a57b; 
	margin: 0px 12px;
}
c

.nav-item.cart a{
	float: right;
}

.nav-item a:hover{
	background-color: #eee;
	border-radius: 30px;
	color: #f0fcf9;
	
}

.navbar-brand{
	padding: 0px 16px;
}

.brand_icon{
	padding-right: 12px;
}

.nav-item a:active{
	background-color: #eee;
	border-radius: 30px;
	color: #f0fcf9;
	
	
}

.media{
	background-color: #fff;
	margin-top: 20px;
	padding: 5% 2.5%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
	border-radius: 16px;
}
#scrollTopBtn{
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	background-color: #00a57b;
	color: #fff; 
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	width: 56px;
	height: 56px;
	border-radius: 16px;
	border: none;
}